@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@font-face {
  font-family: 'eUkraineHead';
  font-weight: 700;
  src: url(../fonts/e-UkraineHead-700/e-UkraineHead-700.woff2) format('woff2'), 
      url(../fonts/e-UkraineHead-700/e-UkraineHead-700.woff) format('woff'), 
}
@font-face {
  font-family: 'eUkraineHead';
  font-weight: 600;
  src: url(../fonts/e-UkraineHead-600/e-UkraineHead-600.woff2) format('woff2'), 
      url(../fonts/e-UkraineHead-600/e-UkraineHead-600.woff) format('woff'), 
}
@font-face {
  font-family: 'eUkraineHead';
  font-weight: 400;
  src: url(../fonts/e-UkraineHead-400/e-UkraineHead-400.woff2) format("woff2"),
      url(../fonts/e-UkraineHead-400/e-UkraineHead-400.woff) format("woff");
}
@font-face {
  font-family: 'eUkraineHead';
  font-weight: 300;
  src: url(../fonts/e-UkraineHead-300/e-UkraineHead-300.woff2) format("woff2"),
      url(../fonts/e-UkraineHead-300/e-UkraineHead-300.woff) format("woff");
}
@font-face {
  font-family: 'eUkraineHead';
  font-weight: 100;
  src: url(../fonts/e-UkraineHead-100/e-UkraineHead-100.woff2) format("woff2"),
      url(../fonts/e-UkraineHead-100/e-UkraineHead-100.woff) format("woff");
}