$color-blue-primary: #0066CC;
$color-blue: #3333A7;
$color-yellow-secondary: #FFE601;
$color-black-content: #232323;
$color-background: #fafafa;
$color-white-background: #ffffff;
$color-grey-light: #979797;